<!--
Copyright 2019 Peter F Nabicht, Big Shoulders Software
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 documentation files (the "Software"), to deal in the Software without restriction, including without
 limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 the Software, and to permit persons to whom the Software is furnished to do so, subject to the following
 conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions
 of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 DEALINGS IN THE SOFTWARE.
-->

{% extends "bootstrap/base.html" %}
{% block title %}SimpleTaskQueue Monitoring{% endblock %}

{%  block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="/static/stq_custom.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <div class="w-100 p-3">
        <h1>Simple Task Queue</h1>
        <h2>To Do</h2>
        <table id="todoTaskTable" class="table-small table-striped table-bordered dt-responsive nowrap" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Command</th>
                    <th>Duration</th>
                    <th>Dependent On</th>
                    <th>Max Attempts</th>
                    <th>Name</th>
                    <th>Description</td>
                </tr>
            </thead>
        </table>
        <h2>In Process</h2>
        <table id="inprocessTaskTable" class="table-small table-striped table-bordered dt-responsive nowrap" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Started Time</th>
                    <th>Command</th>
                    <th>Duration</th>
                    <th>Dependent On</th>
                    <th>Attempted</th>
                    <th>Attempts Left</th>
                    <th>Attempt Open</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Current Runner</th>
                </tr>
            </thead>
        </table>
        <h2>Failed</h2>
        <table id="failedTaskTable" class="table-small table-striped table-bordered dt-responsive nowrap" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Finished Time</th>
                    <th>Command</th>
                    <th>Attempts</th>
                    <th>Dependencies</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
        <h2>Completed</h2>
        <table id="completedTaskTable" class="table-small table-striped table-bordered dt-responsive nowrap" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Finished Time</th>
                    <th>Command</th>
                    <th>Attempts</th>
                    <th>Dependencies</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#todoTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/todo",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "command"},
                {data: "duration"},
                {data: "dependent_on"},
                {data: "max_attempts"},
                {data: "name"},
                {data: "description"}
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#inprocessTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/inprocess",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "started"},
                {data: "command"},
                {data: "duration"},
                {data: "dependent_on"},
                {data: "attempted"},
                {data: "attempts_left"},
                {data: "attempt_open"},
                {data: "name"},
                {data: "description"},
                {data: "current_runner"}
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#failedTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/failed",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "finished"},
                {data: "command"},
                {data: "attempts"},
                {data: "dependencies"},
                {data: "name"},
                {data: "description"},
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#completedTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/completed",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "finished"},
                {data: "command"},
                {data: "attempts"},
                {data: "dependencies"},
                {data: "name"},
                {data: "description"},
            ]
        } );
    });
    </script>
{% endblock %}
