{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{%  block head %}
    {{ super() }}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <div class="w-100 p-3">
        <h1>Simple Task Queue</h1>
        <h2>To Do</h2>
        <table id="todoTaskTable" class="display compact table-striped table-bordered" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Command</th>
                    <th>Dependent On</th>
                    <th>Duration</th>
                    <th>Max Attempts</th>
                </tr>
            </thead>
        </table>
        <h2>In Process</h2>
        <table id="inprocessTaskTable" class="display compact table-striped table-bordered" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Started Time</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Command</th>
                    <th>Dependent On</th>
                    <th>Duration</th>
                    <th>Attempted</th>
                    <th>Attempts Left</th>
                    <th>Attempt Open</th>
                    <th>Current Runner</th>
                </tr>
            </thead>
        </table>
        <h2>Failed</h2>
        <table id="failedTaskTable" class="display compact table-striped table-bordered" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Finished Time</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Command</th>
                    <th>Dependencies</th>
                    <th>Attempts</th>
                </tr>
            </thead>
        </table>
        <h2>Completed</h2>
        <table id="completedTaskTable" class="display compact table-striped table-bordered" style="width:100%" >
            <thead>
                <tr>
                    <th>Created Time</th>
                    <th>Finished Time</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Command</th>
                    <th>Dependencies</th>
                    <th>Attempts</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#todoTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/todo",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "name"},
                {data: "description"},
                {data: "command"},
                {data: "dependent_on"},
                {data: "duration"},
                {data: "max_attempts"}
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#inprocessTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/inprocess",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "started"},
                {data: "name"},
                {data: "description"},
                {data: "command"},
                {data: "dependent on"},
                {data: "duration"},
                {data: "attempted"},
                {data: "attempts_left"},
                {data: "attempt_open"},
                {data: "current_runner"}
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#failedTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/failed",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "finished"},
                {data: "name"},
                {data: "description"},
                {data: "command"},
                {data: "dependencies"},
                {data: "attempts"}
            ]
        } );
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#completedTaskTable').DataTable( {
            "processing": true,
            "ajax": "/listtasks/completed",
            // add column definitions to map your json to the table
            "columns": [
                {data: "created"},
                {data: "finished"},
                {data: "name"},
                {data: "description"},
                {data: "command"},
                {data: "dependencies"},
                {data: "attempts"}
            ]
        } );
    });
    </script>
{% endblock %}
